* {
	padding:0px;
	margin:0px ;
	box-sizing:border-box;

}


p {
	background-color:red;
	padding:20px;
	margin:20px ;
	color:white ;
	font-size:30px;
	text-align:center
}
button {
	margin:0px auto ;
	display:block;
	padding:20px;
	background-color:green;
	width:50%;
	color:white ;
	font-size:30px;
	text-transform:uppercase;
}
